<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<form method="post" action="/register">
    Username:
    <label>
        <input type="text" name="username">
    </label><br>

    Password:
    <label>
        <input type="password" name="password">
    </label><br>
    <button type="submit" class="btn btn-default" formmethod="post">Login</button>


</form>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>